# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Custom
download/

*/docs/data
*/docs/code_craft_2025
*/docs/demos
*/docs/interactor
*/docs/*.py

*/interactor/

*/build/

*/data/

*/replay/

*/replayer/

*/results/

*/submit/

.vscode

debug.txt
result.txt
speed.txt
